html{
    position: relative;
    min-height: 100%;
}
.logo{
    height: 50px;
}
.bg-white {
    background-color: #fff
}
.navbar-brand {
    padding: 23.5px 20px;
    font-size: 18px
}
.navbar-nav {
    width: 100%
}
.nav-item {
    padding: 17px 8px;
    margin: 0px 3px;
    text-align: center;
    border-radius: 5px;
    font-size: 16px;
    color: grey;
    position: static;
    font: Regular 16px/22px Open Sans;
}
.nav-item.active {
    color: #EF5350
}
.nav-link {
    padding: 5px
}
.navbar-collapse.collapse.in {
    display: block !important
}
.fa-angle-down {
    padding-left: 10px
}
.fa-icon {
    font-size: 30px;
    color: #fff;
    background-color: #aba7a8;
    margin: 2px 10px 5px 0px;
    border-radius: 10px;
    width: 50px;
    height: 50px;
}
.dropdown-menu {
    margin-top: 0px;
    border: none;
    background-color: #ffffff;
    padding: 50px 50px 30px 50px;
    box-shadow: 0.5px 1px 2px 1px #d4cdcd;
}
#dropdown-menu1 {
    position: absolute;
    left: 127px;
}
#dropdown-menu2 {
    position: absolute;
    left: 245px;
}
#dropdown-menu3 {
    position: absolute;
    left: 375px;
}
.tab {
    margin-bottom: 20px;
    width: 230px
}
.tab:hover {
    color: #E91E63 !important;
}
.dropdown-item {
    padding: 0px;
}
.dropdown-item:hover {
    background-color: inherit;
}
.calc-btn{
	background: #FF7B24;
	color: #fff;
}
.calc-btn:hover{
	color: #fff;
}
@media (max-width: 767px) {
    .nav-item {
        width: 100%;
        text-align: left;
        padding-left: 10px;
    }

    .dropdown-menu {
        left: 0 !important;
        position: relative !important;
        padding: 20px;
    }
}
.herder-img{
	width: 100%;
	height: 360px;
	background: #3F3AD2;
}
.herder-img div{
	height: 100%;
}
.calc-img{
	height: 360px;
    position: absolute;
    z-index: 1;
    right: 0%;
    top: 0px;
}
.herder-img .img-back{
	background: #FF7B24;
    height: 142%;
    border-radius: 50%;
    position: relative;
    top: -49px;
    left: 27px;
}
.header-img-text{
	text-align: left;
	font: Bold 3.5vw Open Sans;
	letter-spacing: 0px;
	color: #FFFFFF;
	opacity: 1;
	padding: 50px 3px 30px 43px;
}

.header-img-p{
	text-align: left;
	font:  16px/22px Open Sans;
	letter-spacing: 0px;
	color: #FFFFFF;
	opacity: 0.6;
	margin-left: 44px;
}
.header-img-button button{
	margin-left: 43px;
    margin-top: 20px;
    width: 135px;
    border-radius: 0px;
}
.calc-btn{
	width: 135px;
    border-radius: 0px;	
}

.herder-img .row{
	overflow: hidden;
}
.center-teg{
	text-align: left;
	font: Bold 24px/33px Open Sans;
	letter-spacing: 0px;
	color: #191919;
	opacity: 1;
	text-align: center;
	padding: 30px 30px 80px;
}
.icon-part-parent{
    border: 1px solid #3F3AD233;
    padding: 38px 0 20px 0;
}
.calc-icon-text{
	text-align: center;
	font:18px/24px Open Sans;
	letter-spacing: 0px;
	color: #000000;
	opacity: 1;
	position: relative;
    top: 8px;
}
.calc-icon{
    height: 90px;
    position: absolute;
    background: #3F3AD2;
    width: 90px;
    border-radius: 50%;
    bottom: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}
.calc-icon i{
	font-size: 57px;
	color: #fff;
}
.all-calc{
	width: 278px;
	height: 52px;
	margin: 30px 0 60px 0;
}
.flex-calc{
	display: flex;
	justify-content: center;
}
.footer-calc{
	background: #3F3AD212 0% 0% no-repeat padding-box;
    opacity: 1;
    position: absolute;
    bottom: 0;
}
.parent{
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}
.left{
    width: 25%;
    margin-bottom: 75px;
}
.right{
    width: 65%;
    margin-bottom: 75px;
}
.top{
    background: #F6F7F8;
    padding: 25px;
}
.bottom{
    margin-top: 20px;
    background: #F6F7F8;
}
.list-unstyled.components li{
    border:1px solid #FFFFFF;
    background: #FF7B24;
    text-align: center;
    color: #000;
    padding: 15px;
}
.list-unstyled li a{
    color: #FFFFFF;
}
.list-unstyled.components li a:hover{
    text-decoration: none;
}
#homeSubmenu li,#pageSubmenu li, #avandSubmenu li{
    border:none;
    border-bottom: 1px solid #ffffff;
    background: #FF7B24;
    text-align: center;
    color: #2d2929;
}
.dropdown-toggle::after{
    position: relative;
    left: 37%;
}
.parent-select{
    display: flex;
    justify-content: space-between;
}
.top-text h3{
    text-align: center;
    padding: 15px;
}
.bottom-input input{
    margin: 10px;
}

.header-parent{
    box-shadow: 0px 0px 3px #ccc;
}
.margin-header{
    margin: 20px;
}
.site-color{
    color:#3F3AD2;
    font-style: italic;
    font-weight: 700;
}
.flex-wrap{
    flex-wrap: wrap;
}
.cars , .salary{
    background: #F6F7F8;
    padding: 20px;
}
.salary input,
.salary textarea,
.salary select,
.cars input,
.cars select,
.appa select,
.realestate input[type=number]
 {
    background: none;
    color: #ff7b24;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 380px;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #ff7b24;
}
.salary input:focus,
.salary textarea:focus,
.salary select:focus,
.cars input,
.cars select,
.appa select,
.realestate input {
   outline: none;
}
.salary select option,
.cars select option,
.appa select option{
    background: #e9ebec;
}
.sep{
    background: #ff7b24;
    box-shadow: none;
    border: none;
    height: 2px;
    width: 25%;
    margin: 0px auto 45px auto;
}
.salary .salary-select-kut,
.cars .cars-select,
.appa .appa-select{
    width: 100%;
}
.salary .calc-btn,
.cars .calc-btn,
.appa .calc-btn,
.realestate .calc-btn{
    position: relative;
    left: 78%;
}
.realestate-radio label,.realestate-radio input{
    cursor: pointer;
    color: #ff7b24;
}
.realestate-radio{
    display: flex;
    justify-content: space-between;
}
.realestate-radio div{
    width: 50%
}
.realestate-radio label{
    margin-right: 15px;
}
.realestate  input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -3px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

.realestate input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -3px;
    left: -1px;
    position: relative;
    background-color: #ffa500;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}
.hashvich-right{
    display: flex;
}
.hashvich-right input:focus{
    outline: none;
    border: 1px solid #ff7b24;
}
.yoid{
    width: 250px;
}
body .carousel .slide img{
    width: auto ;
}

body .carousel .slide .slider img{
    position: relative;
    left: 50px;
}
.appa-button{
    width: auto;
}